.specs-colors h1 {
  font-family: "Permanent Marker";
  text-align: center;
}

.filled-circle {
  padding: 50px;
  border-radius: 2px;
  background-color: #f38e23;
  margin: 10px;
  min-height: 200px;
  min-width: 200px;
  opacity: 0.75;
  @media (max-width: 1250px) {
    padding: 30px;
  }
  @media (max-width: 900px) {
    padding: 20px;
  }
  @media (max-width: 620px) {
    padding: 9px;
  }
}

.filled-circle:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 4px #888888;
}

.colors {
  padding: 10px;
  text-align: center;
  margin-top: 50px;
}

.buy-now {
  margin-top: 100px;
  text-align:center;
  margin-right: 200px;
}
