.images img {
  height: 65vh;
  width: 80vw;
}

.w3-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.w3-button {
  padding: 10px;
  position-left: 20px;
}
// #sliderbox img {
//   height: 400px;
//   width: 800px;
//   float: left;
// }

// #outerbox {
//   width: 800;
//   overflow: hidden;
//   margin-left: 0px;
//   margin-top: 150px;
// }

// #sliderbox {
//   position: relative;
//   width: 3200px;
//   animation: slide 10s infinite;
// }

// @keyframes slide
// {

// 0%
// {
// left: 0px;
// }

// 20%
// {
// left: 0px;
// }

// 25%
// {
// left: -800px;
// }

// 45%
// {
// left: -800px;
// }

// 50%
// {
// left: -1600px;
// }

// 70%
// {
// left: -1600px;
// }

// 75%
// {
// left: -2400px;
// }

// 95%
// {
// left: -2400px;
// }

// 100%
// {
// left: -3200px;
// }
// }
