---
title: Introducing C7
---


<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/daguvfl0l/image/upload/v1515451099/banner_frkosy.jpg">
  <div class="banner-content">
    <h1>Introducing C7: the rolls <br>royce of stereo equipment</h1>
    <p>Updating a modern classic with an innovative user</p><p> interface and integration of more digital services </p>
    <button type="button" class="btn btn-primary buy-now-button">Buy now for $2,699</button>
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
  </div>
</div>

<div class="container">
  <div class="angles">
    <div class="col-xs-12 col-md-6">
      <div class="image" style="background-image: url('http://res.cloudinary.com/daguvfl0l/image/upload/v1515463291/08_ibvlzt.jpg');">
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="product-description">
        <h2> Beautiful from every angle</h2>
        <p>The C7 is designed and crafted like a beautiful piece of furniture – with a careful selection of materials and a great attention to detail. The days of wanting to hide your bulky black stereo are over. No matter where you choose to place the C7, it's going to look beautiful.</p>
      </div>
    </div>
  </div>


<!-- <div class="container">
<div id="outerbox">
  <div id="sliderbox">
    <img src="images/02.jpg"/>
    <img src="images/12.jpg"/>
    <img src="images/04.jpg"/>
    <img src="images/05.jpg"/>
  </div>
</div>
</div> -->

<div class="images">
  <img class="mySlides" src="images/02.jpg">
  <img class="mySlides" src="images/12.jpg">
  <img class="mySlides" src="images/04.jpg">
  <img class="mySlides" src="images/05.jpg">
</div>
</div>
<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>

<div class="specs">
  <h1>Specs</h1>
</div>

<!--   <div class="specs row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="pic">
          <img src="images/02.jpg" alt="">
      </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="product-description globe">
          <h4> <a href="http://www.globe-getter.com" target="blank">GlobeGetter</a> </h4>
          <p>My team and I were given a challenge to create a web product in ten days, so I pitched an idea and acted as lead developer. GlobeGetter is a web platform for travel enthusiasts where users are able to set
          long-term travel goals in order to fulfill them over many years. A user can specify how
          many places they would like to visit, add desired travel destinations to their vision,
          mark off where they have been, see the progress of their goal, as well as see pertinent
          information about a specific place.</p>
        </div>
      </div>
  </div> -->

<div class="container">
  <div class="spec-content row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="pic">
        <img src="images/15.png" alt="">
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="spec">
        <h1>Dimensions on Stand</h1>
        <p>Diameter x height x footprint</p>
        <ul>
          <li>70.1 x 90.8 x 41.5 cm</li>
          <li>27.6 x 35.8 x 16.3 in</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="spec">
        <h1>Dimensions on Wall</h1>
        <p>diameter x depth</p>
        <ul>
          <li>70.1 x 21.3 cm</li>
          <li>27.6 x 8.4 in</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="spec-content row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="spec">
        <h1>Weight</h1>
        <ul>
          <li>15 kg (incl. legs)</li>
          <li>14.2 kg (without legs)</li>
          <li>33.1 lbs (incl. legs)</li>
          <li>31.5 lbs (without legs)</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="spec">
        <h1>POWER CONSUMPTION</h1>
        <ul>
          <li>Typical 23 watts</li>
          <li>Standby 0.4 watts</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="spec">
        <h1>EFFECTIVE FREQUENCY RANGE</h1>
        <ul>
          <li>33.1 - 25.000 Hz</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="spec-content row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="spec">
        <h1>POWER AMPLIFIERS</h1>
        <ul>
          <li>1 x 160 watt class D for bass</li>
          <li>2 x 80 watt class D for midrange</li>
          <li>2 x 80 watt class D for treble</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="pic">
        <img src="images/21.png" alt="">
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="spec">
        <h1>DRIVER UNITS</h1>
        <ul>
          <li>1 x 8' woofer</li>
          <li>2 x 3” midrange</li>
          <li>2 x 3⁄4” tweeters</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="spec-content row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="spec">
        <h1>CABINET PRINCIPLE</h1>
        <ul>
          <li>Bass-reflex</li>
        </ul>
        <h1>ROOM ADAPTATION</h1>
        <ul>
          <li>Manual position switch, wall, corner and free standing</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="spec">
        <h1>CONNECTIVITY</h1>
        <ul>
          <li>1 x USB iPod/iPhone/iPad connector</li>
          <li>1 x Line-in</li>
          <li>1 x Ethernet</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="spec">
        <h1>Wireless Connectivity</h1>
        <ul>
          <li>WLAN - 802.11b/g/n (2.4GHz & 5GHz)</li>
          <li>Apple AirPlay</li>
          <li>DLNA wireless streaming</li>
          <li>Bluetooth 4.0</li>
          <li>Google Cast</li>
        </ul>
      </div>
    </div>
  </div>

</div>

<div class="w3-content w3-display-container images">
  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>

  <img class="mySlide" src="images/03.jpg">
  <img class="mySlide" src="images/17.jpg">
  <img class="mySlide" src="images/10.jpg">
  <img class="mySlide" src="images/18.jpg">


  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlide");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>

<div class="specs-colors">
  <h1>Available in 10 Colors</h1>
</div>

<div class="colors">
  <span class="filled-circle", style="background-color: #0A513D);"></span>
  <span class="filled-circle", style="background-color: #9AAE71;"></span>
  <span class="filled-circle", style="background-color: #084679;"></span>
  <span class="filled-circle", style="background-color: #663D6D;"></span>
  <span class="filled-circle", style="background-color: #C2243A;"></span>
  <span class="filled-circle", style="background-color: #F8B374;"></span>
  <span class="filled-circle", style="background-color: #5C5C5C;"></span>
  <span class="filled-circle", style="background-color: #A32878;"></span>
  <span class="filled-circle", style="background-color: #784D2A;"></span>
  <span class="filled-circle", style="background-color: #5C5C5C;"></span>
</div>




<div class="footer">
  <div class="footer-content">
    <div class="footer-copyright">
      <p>Copyright 2016 Lundqvist & Svestrom.</p><p> All rights reserved.</p><p>  Privacy Policy . </p><p> Terms & Conditions.</p>
    </div>
  </div>
</div>
